$white:#FFFFFF;
$blackAutograph: #1f1f1f;
$lightBlue:#5EDFFF;
$violet: rgba(60, 18, 228);

$shadow: 4px 24px 60px rgba(22, 0, 34, 0.25);
$blur: blur(10px);

$small:2.5em;
$medium: 3em;
$big: 6em;
$hyperbig:7.5em;